@font-face {
    font-family: 'Product Sans';
    src: url('/assets/fonts/ProductSans-BoldItalic.eot');
    src: url('/assets/fonts/ProductSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/ProductSans-BoldItalic.woff') format('woff'),
        url('/assets/fonts/ProductSans-BoldItalic.svg#ProductSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('/assets/fonts/ProductSans-Bold.eot');
    src: url('/assets/fonts/ProductSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/ProductSans-Bold.woff') format('woff'),
        url('/assets/fonts/ProductSans-Bold.svg#ProductSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('/assets/fonts/ProductSans-Italic.eot');
    src: url('/assets/fonts/ProductSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/ProductSans-Italic.woff') format('woff'),
        url('/assets/fonts/ProductSans-Italic.svg#ProductSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('/assets/fonts/ProductSans-Regular.eot');
    src: url('/assets/fonts/ProductSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/ProductSans-Regular.woff') format('woff'),
        url('/assets/fonts/ProductSans-Regular.svg#ProductSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --font: 'Product Sans';
    --background: #080808;
    --white: #FAF9F6;
    --accent: #e9333c;
    --grey1: #1C1E1F;
    --grey2: #111213;
    color-scheme: dark;
    scroll-behavior: smooth;
}

body{
    background-color: var(--background);
    font-family: var(--font);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
    font-family: var(--font), sans-serif;
    overflow-x: hidden;
}

.header {
    width: 100vw;
    height: 100vh;
}

#header-content {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    position: relative;
    text-align: center;
}

#userPhoto{
    width: 120px;
    height: 120px;
    display: block;
    border-radius: 50%;
    border: solid var(--grey1) 2px;
}

#userName{
    width: 100%;
    font-size: 35px;
    font-weight: bold;
    color: var(--white);
}

#links{
    max-width: 90%;
    width: auto;
    display: block;
    margin: 27px auto;
    color: var(--white);
}

.link{
    display: block;
    margin-bottom: 20px;
    padding: 17px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: var(--white);
    word-wrap: break-word;
    background-color: var(--grey2);
    border-radius: 15px;
}

.link:hover{
    display: block;
    margin-bottom: 20px;
    padding: 17px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: var(--accent);
    word-wrap: break-word;
    background-color: var(--grey2);
    border-radius: 15px;
}


a {
    color: inherit;
    text-decoration: none;
    display: inline;
} 

.arrow {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    color: var(--white);
}

#projects {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    flex: 1 auto;
    position: relative;
    max-width: 600px;
}

#about {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    flex: 1 auto;
    position: relative;
    max-width: 600px;
}

.header-text {
    font-size: 30px;
    font-weight: bold;
    color: var(--white);
    width: 75vw;
    max-width: 600px;
    display: block;
    margin: auto auto;
    padding: 30px 0 10px 0;
}

.text {
    color: var(--white);
    font-size: 18px;
    width: 100%;
    font-weight: normal;
}

h2 {
    width: 100%;
    font-size: 25px;
    font-weight: normal;
    color: var(--white);
    margin-bottom: 10px;
}

.table {
    width: 75vw;
    max-width: 600px;
    display: block;
    margin: 8px 0;
    padding: 17px;
    background-color: var(--grey2);
    border-radius: 15px;
}

.buttons {
    margin-top: 15px;
}

.button {
    padding: 6px 14px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: var(--white);
    background-color: var(--grey1);
    border-radius: 16px;
    margin-right: 5px;
}

.button:hover {
    padding: 6px 12px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: var(--accent);
    background-color: var(--grey1);
    border-radius: 15px;
    margin-right: 5px;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-top: 10px;
}

.carousel {
    background: var(--grey2);
}

.carousel img {
    display: block;
    width: 100%;
    border-radius: 15px;
    margin: 10px 15px 0 0;
}


.flickity-button {
    background-color: var(--white) !important;
}

.flickity-button-icon {
    fill: var(--background) !important;
}

.flickity-prev-next-button {
    width: 40px !important;
    height: 40px !important;
}

footer {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 30px 0;
}