@font-face {
    font-family: 'Product Sans';
    src: url('/assets/fonts/ProductSans-BoldItalic.eot');
    src: url('/assets/fonts/ProductSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/ProductSans-BoldItalic.woff') format('woff'),
        url('/assets/fonts/ProductSans-BoldItalic.svg#ProductSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('/assets/fonts/ProductSans-Bold.eot');
    src: url('/assets/fonts/ProductSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/ProductSans-Bold.woff') format('woff'),
        url('/assets/fonts/ProductSans-Bold.svg#ProductSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('/assets/fonts/ProductSans-Italic.eot');
    src: url('/assets/fonts/ProductSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/ProductSans-Italic.woff') format('woff'),
        url('/assets/fonts/ProductSans-Italic.svg#ProductSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('/assets/fonts/ProductSans-Regular.eot');
    src: url('/assets/fonts/ProductSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/ProductSans-Regular.woff') format('woff'),
        url('/assets/fonts/ProductSans-Regular.svg#ProductSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --font: 'Product Sans';
    --background: #080808;
    --color: #FAF9F6;
    --accent: #e9333c;
    --grey1: #1C1E1F;
    --grey2: #111213;
}

body{
    background-color: var(--background);
    color: var(--color);
    font-family: var(--font);
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
    font-family: var(--font), sans-serif;
}

.container {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.content{
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    align-items: center;
    justify-content: center;
    margin: 0;
}

footer{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
}

#userPhoto{
    width: 96px;
    height: 96px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
    border: solid var(--grey1) 2px;
}

#userName{
    width: 100%;
    font-size: 35;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    line-height: 1.25;
    display: block;
    color: var(--color);
}

#bio{
    color: var(--color);
    font-size: 18px;
}

#links{
    max-width: 90%;
    width: auto;
    display: block;
    margin: 27px auto;
    color: var(--color);
}

.link{
    display: block;
    margin-bottom: 20px;
    padding: 17px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: var(--color);
    word-wrap: break-word;
    background-color: var(--grey2);
    border-radius: 15px;
}

.link:hover{
    display: block;
    margin-bottom: 20px;
    padding: 17px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: var(--accent);
    word-wrap: break-word;
    background-color: var(--grey2);
    border-radius: 15px;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline;
} 
